
@{
    ViewBag.Title = "Index";
}

<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href=""></a></li>
   
    </ol>
</div> 

<!-- products -->
<div id="products-page" class="products-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">@DefaultResource.Ourproductsh</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-1.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-1.png" class="img-responsive" alt="product-1">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product1h</h6></a>
                            <p>@DefaultResource.Product1p</p>
                        </div>
                        <div class="product-right">
                           
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-2.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-2.png" class="img-responsive" alt="product-2">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product2h</h6></a>
                            <p>@DefaultResource.Product2p</p>
                        </div>
                        <div class="product-right">
                           
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-3.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-3.png" class="img-responsive" alt="product-3">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product3h</h6></a>
                            <p>@DefaultResource.Product3p</p>
                        </div>
                        <div class="product-right">
                            
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-4.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-4.png" class="img-responsive" alt="product-4">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product4h</h6></a>
                            <p>@DefaultResource.Product4p</p>
                        </div>
                        <div class="product-right">
                            
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-5.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-5.png" class="img-responsive" alt="product-5">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product5h</h6></a>
                            <p>@DefaultResource.Product5p</p>
                        </div>
                        <div class="product-right">
                          
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-6.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-6.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product6h</h6></a>
                            <p>@DefaultResource.Product6p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons">
                               
                            </ul>
                            <div class="rating-show">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-7.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-7.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product7h</h6></a>
                            <p>@DefaultResource.Product7p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-8.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-8.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product8h</h6></a>
                            <p>@DefaultResource.Product8p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-9.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-9.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product9h</h6></a>
                            <p>@DefaultResource.Product9p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-10.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-10.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product10h</h6></a>
                            <p>@DefaultResource.Product10p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-11.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-11.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product11h</h6></a>
                            <p>@DefaultResource.Product11p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-12.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-12.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product12h</h6></a>
                            <p>@DefaultResource.Product12p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-13.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-13.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product13h</h6></a>
                            <p>@DefaultResource.Product13p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-14.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-14.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product14h</h6></a>
                            <p>@DefaultResource.Product14p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-15.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-15.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product15h</h6></a>
                            <p>@DefaultResource.Product15p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-16.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-16.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product16h</h6></a>
                            <p>@DefaultResource.Product16p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-17.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-17.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product17h</h6></a>
                            <p>@DefaultResource.Product17p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-18.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-18.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product18h</h6></a>
                            <p>@DefaultResource.Product18p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-19.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-19.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product19h</h6></a>
                            <p>@DefaultResource.Product19p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-block">
                    <div class="product-img">
                        <a href="~/Content/images/products/product-20.png" data-lightbox="example-set">
                            <img src="~/Content/images/products/product-20.png" class="img-responsive" alt="product-6">
                            <div class="overlay-product"></div>
                        </a>
                    </div>
                    <div class="product-dtl">
                        <div class="product-left">
                            <a href="#"><h6 class="product-heading">@DefaultResource.Product20h</h6></a>
                            <p>@DefaultResource.Product20p</p>
                        </div>
                        <div class="product-right">
                            <ul class="procut-icons"></ul>
                            <div class="rating-show">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
<!-- end products -->