@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<div id="footer-section" class="footer-main-block">
    <div class="container">
        <div class="footer-block text-center">
            <h2 class="middle-heading">@DefaultResource.Footerblockh1<span>@DefaultResource.Footerblockh2</span></h2>
            <a href="@Url.Action("Contact", "Home")">@DefaultResource.Footerblocklink <i class="fa fa-long-arrow-left"></i></a>
            <div class="modal fade contact-modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6>@DefaultResource.ContactUsModalh</h6>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-contact" placeholder="@DefaultResource.ContactUsModalemail">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject-contact" placeholder="@DefaultResource.ContactUsModalSubject">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="  @DefaultResource.ContactUsModalMessage" rows="4" cols="68"></textarea>
                            </div>
                            <button type="button" class="btn btn-default">@DefaultResource.ContactUsModalSend</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row copyright-block">
            <div class="col-md-3 col-xs-6">
                <div class="copyright">
                    <div class="footer-logo">
                        <img src="~/Content/images/logo-footer.png" class="img-responsive" alt="AWW logo">
                    </div>
                    @if (culture == "en-us")
                    {
                        <span>Copyright © 2018 All rights reserved.</span>
                    }
                    else
                    {
                        <span> © جميع الحقوق محفوظه @DateTime.Now.Year.</span>
                    }
                </div>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm">
                <div class="footer-menu text-center">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">@DefaultResource.FooterHomelabel</a></li>
                        <li><a href="@Url.Action("About", "Home")">@DefaultResource.FooterAboutUslabel</a></li>
                        <li><a href="@Url.Action("Index", "Products")">@DefaultResource.FooterProductslabel</a></li>
                        <li><a href="@Url.Action("Index", "Label")">@DefaultResource.FooterLabellabel</a></li>
                        <li><a href="@Url.Action("Index", "News")">@DefaultResource.FooterNewslabel</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">@DefaultResource.FooterContactUslabel</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->