
@{
    ViewBag.Title = "Index";
}
<!--  slider -->
<div class="home-slider-main">
    <div id="particles-js" class="particles-block"></div>
    <div class="container">
        <div id="home-slider">
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round1.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    <h1 class="slider-heading">A<span>WW</span></h1>
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round2.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    <h1 class="slider-heading">A<span>WW</span></h1>
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round3.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    <h1 class="slider-heading">A<span>WW</span></h1>
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    <h1 class="slider-heading">A<span>WW</span></h1>
                </div>
            </div>
        </div>
        <div class="slider-social">
            <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-1.png" class="img-responsive" alt="features1">
                    <h6 class="features-heading">Products</h6>
                    <p>In perfection.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-2.png" class="img-responsive" alt="features2">
                    <h6 class="features-heading">Services</h6>
                    <p>With flexibility.</p>
                </div>
            </div>
            <div class="col-md-3  col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-3.png" class="img-responsive" alt="features3">
                    <h6 class="features-heading">Insights</h6>
                    <p>With intelligence.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-4.png" class="img-responsive" alt="features4">
                    <h6 class="features-heading">Inspiration</h6>
                    <p>In action.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end features -->
<!--  about -->
<div id="about" class="about-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">About <span>Arabian Wet Wipes</span></h3>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-sm-7 col-md-5">
                <div class="about-block">
                    <h2 class="middle-heading">We are the <span>leaders</span></h2>
                    <p>AWW is the fastest growing manufacturer and exporter of globalize competitive wet wipes products. Our product range from personal care, household, institutional and industrial wet wipes applications. AWW is the exporter of wet wipes and private labels to Kuwait and Saudi Arabia. Our products were solely manufactured in SAIF – Zone and locally monopolized the distribution of wet wipes products in the entire U. A. E.</p>
                </div>
                <div class="about-facts">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <h2 class="counter">318</h2>
                            <p>Clients</p>
                        </div>
                        <div class="col-xs-4 col-md-5">
                            <h2 class="counter">4021</h2>
                            <p>Members</p>
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <h2 class="counter">28</h2>
                            <p>Awards</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-sm-4 col-md-4">
                <div class="about-dtl-img img-top">
                    <img src="~/Content/images/about-image.png" class="img-responsive" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end about -->
<!--  requst a quotation -->
<div class="requst-quotation">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="quotation-img">
                    <img src="~/Content/images/quotation-icon.png" class="img-responsive" alt="quotation">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="quotation-dtl">
                    <h2 class="middle-heading">Request a <span>quotation</span></h2>

                    <div class="quotation-form">
                        @{Html.RenderAction("NewsletterWidget", "Common");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end requst a quotation -->
<!--  our work -->
<div id="work" class="work-main-block mrg-btm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <div class="section">
                    <h3 class="section-heading">Our <span>Work</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 design">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-1.png" class="img-responsive" alt="work1">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="portfolio.html"><h3>Tri Fold Broucher</h3></a>
                        <p>Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 design">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-2.png" class="img-responsive" alt="work2">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>Cool Broucher</h3></a>
                        <p>Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 branding">
                <div class="work-block ">
                    <div class="work-img">
                        <img src="~/Content/images/work-3.png" class="img-responsive" alt="work3">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>Abstract Broucher</h3></a>
                        <p>Branding</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 creative">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-4.png" class="img-responsive" alt="work4">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>Broucher Template</h3></a>
                        <p>Creative</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 branding">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-5.png" class="img-responsive" alt="work5">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>Broucher Template</h3></a>
                        <p>Branding</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 creative">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-6.png" class="img-responsive" alt="work6">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>Tri Fold Broucher</h3></a>
                        <p>Creative</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end our work -->
<!--  idea -->
<div class="idea">
    <div class="container">
        <div class="idea-block">
            <h3 class="block-heading clr-white">Unleash your ideas. We'll help you</h3>
            <p class="clr-white">Through simplicity and flexibility of our services can be reached quickly and easily to your pressure.</p>
        </div>
    </div>
</div>
<!--  end idea -->
<!--  our services -->
<div id="services" class="services-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading-rgt">Our <span>Services</span></h3>
        </div>
        <div class="services-tab">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="index.html#service-01" aria-controls="service-01" role="tab" data-toggle="tab">01</a></li>
                <li role="presentation"><a href="index.html#service-02" aria-controls="service-02" role="tab" data-toggle="tab">02</a></li>
                <li role="presentation"><a href="index.html#service-03" aria-controls="service-03" role="tab" data-toggle="tab">03</a></li>
                <li role="presentation"><a href="index.html#service-04" aria-controls="service-04" role="tab" data-toggle="tab">04</a></li>
                <li role="presentation"><a href="index.html#service-05" aria-controls="service-05" role="tab" data-toggle="tab">05</a></li>
                <li role="presentation"><a href="index.html#service-06" aria-controls="service-06" role="tab" data-toggle="tab">06</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-01">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-01.png" class="img-responsive" alt="service-01"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="services-details.html"><h2 class="middle-heading text-align-right">3D print <span>service</span></h2></a>
                            <p class="text-align-right">Over the past 9 years Arabian Wet Wipes's 3D department has established a leading position in providing professional 3D print services. Supplying equipment from 3D Systems and software from Materialise we have specialised our expertise in these products and backed it up through our internationally renowned 3D bureau service. Our 3D clients include top international Architectural.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-02">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-02.png" class="img-responsive" alt="service-02"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">Digital <span>print</span></h2></a>
                            <p class="text-align-right">Lorem ipsum dolor sit amet, eu pri detraxit indoctum. Epicurei perfecto periculis in qui, sed eu persius ornatus, et malorum sensibus philosophia pri. Et usu dicam aeterno honestatis. Vel dicam petentium vituperata an, omnis posse legimus sea te. Vis ut reque facer. Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-03">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-03.png" class="img-responsive" alt="service-03"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">Leflets <span>print</span></h2></a>
                            <p class="text-align-right">Lorem ipsum dolor sit amet, eu pri detraxit indoctum. Epicurei perfecto periculis in qui, sed eu persius ornatus, et malorum sensibus philosophia pri. Et usu dicam aeterno honestatis. Vel dicam petentium vituperata an, omnis posse legimus sea te. Vis ut reque facer. Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-04">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-04.png" class="img-responsive" alt="service-04"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">Stationery <span>print</span></h2></a>
                            <p class="text-align-right">Lorem ipsum dolor sit amet, eu pri detraxit indoctum. Epicurei perfecto periculis in qui, sed eu persius ornatus, et malorum sensibus philosophia pri. Et usu dicam aeterno honestatis. Vel dicam petentium vituperata an, omnis posse legimus sea te. Vis ut reque facer. Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-05">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-05.png" class="img-responsive" alt="service-05"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">Broucher <span>print</span></h2></a>
                            <p class="text-align-right">Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans. Labores qualisque cum ea, te eleifend philosophia comprehensam nam. At sed euripidis comprehensam, ad oratio fabellas eos, nostro debitis mea ea. Eam diam eros nominavi ea. An eam qualisque interesset definitionem, est harum graecis cu. Labores qualisque cum ea, te eleifend philosophia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-06">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-06.png" class="img-responsive" alt="service-06"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">Large <span>print</span></h2></a>
                            <p class="text-align-right">Lorem ipsum dolor sit amet, aeque rationibus ea pri, laoreet blandit platonem in cum, at usu laudem consetetur reprimique. Ea putant adversarium consectetuer pri. Sea te posse cetero suavitate, aliquip tincidunt his ut. Mea scripta suscipit id, ad bonorum moderatius pri, te brute labores ius. Te eam noster voluptatum, audire perpetua usu et. Mea vero honestatis et, te sed doctus debitis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end our services -->
<!--  around the pressure -->
<div class="around-pressure">
    <div class="container">
        <div class="around-block">
            <h3 class="block-heading">As an online printing company, we can assist you with advice, info and knowledge - Around The Pressure.</h3>
            <p>Visit us . Inspiration for your ideas are plenty.</p>
        </div>
    </div>
</div>
<!--  end around the pressure -->
<!--  testimonial -->
<div id="testimonial">
    <div class="testimonial-bg" style="background-image: url('Content/images/bg/testimonial_bg.jpg')">
        <div class="container">
            <div id="testimonial-slider" class="testimonial-block text-center">
                <div class="item testimonial-dtl">
                    <div class="quote-icon"><i class="fa fa-quote-left" aria-hiddeimagesn="true"></i></div>
                    <h2 class="middle-heading">We are the <span>A W W</span></h2>
                    <p>Lorem ipsum dolor sit amet, his ei tota contentiones, vel ad novum eripuit singulis, mea gloriatur forensibus id. Te eum harum definiebas, ut vis eros utinam, cu dicam lucilius forensibus nec. Te saepe noster his. Agam scripserit dissentiet ne sit, eum ad tation perpetua, at est viris minimum. Per ex animal bonorum, vis in eleifend vituperata. Mollis eirmod ne pri, in mei brute scriptorem. Ex harum honestatis pri. Duo te nemore feugait senserit. An sed esse laoreet hendrerit</p>
                    <p class="testimonial-client">John Doe - <span>CEO at Mediacity</span></p>
                </div>
                <div class="item testimonial-dtl">
                    <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                    <h2 class="middle-heading">We are the <span>media</span></h2>
                    <p>Lorem ipsum dolor sit amet, his ei tota contentiones, vel ad novum eripuit singulis, mea gloriatur forensibus id. Te eum harum definiebas, ut vis eros utinam, cu dicam lucilius forensibus nec. Te saepe noster his. Agam scripserit dissentiet ne sit, eum ad tation perpetua, at est viris minimum. Per ex animal bonorum, vis in eleifend vituperata. Mollis eirmod ne pri, in mei brute scriptorem. Ex harum honestatis pri. Duo te nemore feugait senserit. An sed esse laoreet hendrerit</p>
                    <p class="testimonial-client">Sudhir - <span>Director at Mediacity</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end testimonial -->
<!--  our clients -->
<div id="clients" class="clients-main-block">
    <div class="container">
        <div id="clients-slider">
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-1.png" class="img-responsive" alt="client-logo1">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-2.png" class="img-responsive" alt="client-logo2">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-3.png" class="img-responsive" alt="client-logo3">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-4.png" class="img-responsive" alt="client-logo4">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-5.png" class="img-responsive" alt="client-logo5">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-6.png" class="img-responsive" alt="client-logo6">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-3.png" class="img-responsive" alt="client-logo7">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-5.png" class="img-responsive" alt="client-logo8">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-1.png" class="img-responsive" alt="client-logo9">
            </div>
        </div>
    </div>
</div>
<!--  end our clients -->
<!--  video section -->
<div class="video-item hidden-xs">
    <script type="text/javascript">
        var video_url = '<iframe src="https://www.youtube.com/embed/UFHQzF593ak?autoplay=1&showinfo=0" frameborder="0"></iframe>';
    </script>
    <div class="video-device">
        <img class="bg_img img-responsive" src="~/Content/images/bg/video-bg.jpg" alt="video-bg" />
        <div class="video-preview">
            <a href="javascript:void(0);" class="btn-video-play"><img src="~/Content/images/icons/play-icon.png" alt="video-play"></a>
        </div>
    </div>
</div>
<!--  end video section -->
<!--  facts -->
<div id="facts" class="facts-main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-folder"></i><span class="counter">165</span>K</h1>
                    <p>Project Complete</p>
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-briefcase"></i><span class="counter">1656</span></h1>
                    <p>Client Worked With</p>
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-coffee"></i><span class="counter">1125</span></h1>
                    <p>Cups of Coffee</p>
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-commenting"></i><span class="counter">2078</span></h1>
                    <p>Answered Questions</p>
                    <div class="facts-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end facts -->
