
@{
    ViewBag.Title = "Index";
}
<!--  slider -->
<div class="home-slider-main">
    <div id="particles-js" class="particles-block"></div>
    <div class="container">
        <div id="home-slider">
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round1.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    @*<h1 class="slider-heading">A<span>WW</span></h1>*@
                   
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round2.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    @*<h1 class="slider-heading">A<span>WW</span></h1>*@
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round3.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    @*<h1 class="slider-heading">A<span>WW</span></h1>*@
                </div>
            </div>
            <div class="item slide-inner">
                <div class="error-img">
                    <img src="~/Content/images/page-round4.png" class="img-responsive" alt="error-img">
                </div>
                <div class="slider-dtl text-center">
                    @*<h1 class="slider-heading">A<span>WW</span></h1>*@
                </div>
            </div>
        </div>
        <div class="slider-social">
            <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-1.png" class="img-responsive" alt="features1">
                    <h6 class="features-heading">@DefaultResource.FeaturesblockProductsh6</h6>
                    <p>@DefaultResource.FeaturesblockProductsp</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-2.png" class="img-responsive" alt="features2">
                    <h6 class="features-heading">@DefaultResource.FeaturesblockServicesh6</h6>
                    <p>@DefaultResource.FeaturesblockServicesp</p>
                </div>
            </div>
            <div class="col-md-3  col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-3.png" class="img-responsive" alt="features3">
                    <h6 class="features-heading">@DefaultResource.FeaturesblockInsightsh6</h6>
                    <p>@DefaultResource.FeaturesblockInsightsp</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="features-block">
                    <img src="~/Content/images/icons/features-4.png" class="img-responsive" alt="features4">
                    <h6 class="features-heading">@DefaultResource.FeaturesblockInspirationh6</h6>
                    <p>@DefaultResource.FeaturesblockInspirationp</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end features -->
<!--  about -->
<div id="about" class="about-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">@DefaultResource.AboutHeader1 <span>@DefaultResource.AboutHeader2</span></h3>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="about-block">
                    <h2 class="middle-heading">@DefaultResource.Aboutblockh1 <span>@DefaultResource.Aboutblockh2</span></h2>
                    <p>@DefaultResource.Aboutblockp2</p>
                    <p>@DefaultResource.Aboutblockp</p>
                </div>
            </div>
            <div class="col-md-offset-2 col-sm-4 col-md-4">
                <div class="about-dtl-img img-top">
                    <img src="~/Content/images/about-image.png" class="img-responsive" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end about -->
<!--  facts -->
<div id="facts" class="facts-main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-folder"></i><span class="counter">@DefaultResource.Facts1</span></h1>                    
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-briefcase"></i><span class="counter">@DefaultResource.Facts2</span></h1>
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-coffee"></i><span class="counter">@DefaultResource.Facts3</span></h1>
                    <div class="facts-bg"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="facts-block text-center">
                    <h1 class="facts-number"><i class="facts-icon fa fa-commenting"></i><span class="counter">@DefaultResource.Facts4</span></h1>                    
                    <div class="facts-bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end facts -->
<!--  our work -->
<div id="work" class="work-main-block mrg-btm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <div class="section">
                    <h3 class="section-heading">@DefaultResource.OURWORKh1 <span>@DefaultResource.OURWORKh2</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 design">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-1.png" class="img-responsive" alt="work1">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork1h</h3></a>
                        <p>@DefaultResource.OurWork1p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 design">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-2.png" class="img-responsive" alt="work2">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork2h</h3></a>
                        <p>@DefaultResource.OurWork2p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 branding">
                <div class="work-block ">
                    <div class="work-img">
                        <img src="~/Content/images/work-3.png" class="img-responsive" alt="work3">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork3h</h3></a>
                        <p>@DefaultResource.OurWork3p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 creative">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-4.png" class="img-responsive" alt="work4">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork4h</h3></a>
                        <p>@DefaultResource.OurWork4p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 branding">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-5.png" class="img-responsive" alt="work5">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork5h</h3></a>
                        <p>@DefaultResource.OurWork5p</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 creative">
                <div class="work-block">
                    <div class="work-img">
                        <img src="~/Content/images/work-6.png" class="img-responsive" alt="work6">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="work-dtl text-center">
                        <a href="@Url.Action("Index", "Products")"><h3>@DefaultResource.OurWork6h</h3></a>
                        <p>@DefaultResource.OurWork6p</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end our work -->
<!--  idea -->
<div class="idea">
    <div class="container">
        <div class="idea-block">
            <h3 class="block-heading clr-white">@DefaultResource.Ideablockh</h3>
            <p class="clr-white">@DefaultResource.Ideablockp</p>
        </div>
    </div>
</div>
<div id="services" class="services-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading-rgt">@DefaultResource.Servicesh1 <span>@DefaultResource.Servicesh2</span></h3>
        </div>
        <div class="services-tab">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="index.html#service-01" aria-controls="service-01" role="tab" data-toggle="tab">01</a></li>
                <li role="presentation"><a href="index.html#service-02" aria-controls="service-02" role="tab" data-toggle="tab">02</a></li>
                <li role="presentation"><a href="index.html#service-03" aria-controls="service-03" role="tab" data-toggle="tab">03</a></li>
                <li role="presentation"><a href="index.html#service-04" aria-controls="service-04" role="tab" data-toggle="tab">04</a></li>
                <li role="presentation"><a href="index.html#service-05" aria-controls="service-05" role="tab" data-toggle="tab">05</a></li>
                <li role="presentation"><a href="index.html#service-06" aria-controls="service-06" role="tab" data-toggle="tab">06</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-01">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-01.png" class="img-responsive" alt="service-01"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="services-details.html"><h2 class="middle-heading text-align-right">@DefaultResource.Service1h1 <span>@DefaultResource.Service1h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service1p</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-02">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-02.png" class="img-responsive" alt="service-02"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">@DefaultResource.Service2h1  <span>@DefaultResource.Service2h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service2p</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-03">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-03.png" class="img-responsive" alt="service-03"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">@DefaultResource.Service3h1 <span>@DefaultResource.Service3h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service3p</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-04">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-04.png" class="img-responsive" alt="service-04"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">@DefaultResource.Service4h1 <span> @DefaultResource.Service4h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service4p</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-05">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-05.png" class="img-responsive" alt="service-05"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">@DefaultResource.Service5h1<span> @DefaultResource.Service5h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service5p</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-06">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="service-img">
                            <a href="#"><img src="~/Content/images/service-06.png" class="img-responsive" alt="service-06"></a>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-1 col-sm-6 col-md-4">
                        <div class="service-dtl">
                            <a href="#"><h2 class="middle-heading text-align-right">@DefaultResource.Service6h1<span> @DefaultResource.Service6h2</span></h2></a>
                            <p class="text-align-right">@DefaultResource.Service6p</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end our services -->
<!--  around the pressure -->
<div class="around-pressure">
    <div class="container">
        <div class="around-block">
            <h3 class="block-heading">@DefaultResource.Aroundblockh</h3>
            <p>@DefaultResource.Aroundblockp</p>
        </div>
    </div>
</div>
<!--  end around the pressure -->
<!--  testimonial -->
<div id="testimonial">
    <div class="testimonial-bg" style="background-image: url('Content/images/bg/testimonial_bg.jpg')">
        <div class="container">
            <div id="testimonial-slider" class="testimonial-block text-center">
                <div class="item testimonial-dtl">
                    <div class="quote-icon"><i class="fa fa-quote-left" aria-hiddeimagesn="true"></i></div>
                    <h2 class="middle-heading">@DefaultResource.Testimonial1h1 <span>@DefaultResource.Testimonial1h2</span></h2>
                    <p>@DefaultResource.Testimonial1p</p>
                    <p class="testimonial-client">John Doe - <span>CEO at Mediacity</span></p>
                </div>
                <div class="item testimonial-dtl">
                    <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                    <h2 class="middle-heading">@DefaultResource.Testimonial2h1 <span>@DefaultResource.Testimonial2h2</span></h2>
                    <p>@DefaultResource.Testimonial2p</p>
                    <p class="testimonial-client">Sudhir - <span>Director at Mediacity</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end testimonial -->
<!--  our clients -->
<div id="clients" class="clients-main-block">
    <div class="container">
        <div id="clients-slider">
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-1.png" class="img-responsive" alt="client-logo1">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-2.png" class="img-responsive" alt="client-logo2">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-3.png" class="img-responsive" alt="client-logo3">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-4.png" class="img-responsive" alt="client-logo4">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-5.png" class="img-responsive" alt="client-logo5">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-6.png" class="img-responsive" alt="client-logo6">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-7.png" class="img-responsive" alt="client-logo7">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-8.png" class="img-responsive" alt="client-logo8">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-9.png" class="img-responsive" alt="client-logo9">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-10.png" class="img-responsive" alt="client-logo10">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-11.png" class="img-responsive" alt="client-logo11">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-12.png" class="img-responsive" alt="client-logo12">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-13.png" class="img-responsive" alt="client-logo13">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-14.png" class="img-responsive" alt="client-logo14">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-15.png" class="img-responsive" alt="client-logo15">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-16.png" class="img-responsive" alt="client-logo16">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-17.png" class="img-responsive" alt="client-logo17">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-18.png" class="img-responsive" alt="client-logo18">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-19.png" class="img-responsive" alt="client-logo19">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-20.png" class="img-responsive" alt="client-logo20">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-21.png" class="img-responsive" alt="client-logo21">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-22.png" class="img-responsive" alt="client-logo22">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-23.png" class="img-responsive" alt="client-logo23">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-24.png" class="img-responsive" alt="client-logo24">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-25.png" class="img-responsive" alt="client-logo25">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-26.png" class="img-responsive" alt="client-logo26">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-27.png" class="img-responsive" alt="client-logo27">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-28.png" class="img-responsive" alt="client-logo28">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-29.png" class="img-responsive" alt="client-logo29">
            </div>
            <div class="item client-logo">
                <img src="~/Content/images/icons/logo-30.png" class="img-responsive" alt="client-logo30">
            </div>
        </div>
    </div>
</div>
<!--  end our clients -->
<!--  video section -->
<div class="video-item hidden-xs">
    <script type="text/javascript">
        var video_url = '<iframe src="https://www.youtube.com/embed/UFHQzF593ak?autoplay=1&showinfo=0" frameborder="0"></iframe>';
    </script>
    <div class="video-device">
        <img class="bg_img img-responsive" src="~/Content/images/bg/video-bg.jpg" alt="video-bg" />
        <div class="video-preview">
            <a href="javascript:void(0);" class="btn-video-play"><img src="~/Content/images/icons/play-icon.png" alt="video-play"></a>
        </div>
    </div>
</div>
<!--  end video section -->
<!--  requst a quotation -->
@*<div class="requst-quotation">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="quotation-img">
                        <img src="~/Content/images/quotation-icon.png" class="img-responsive" alt="quotation">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="quotation-dtl">
                        <h2 class="middle-heading">@DefaultResource.Quotationdtlh1 <span>@DefaultResource.Quotationdtlh2</span></h2>

                        <div class="quotation-form">
                            @{Html.RenderAction("NewsletterWidget", "Common");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--  end requst a quotation -->
@section Scripts{
    <script src="~/Scripts/particles.js"></script>
    <script src="~/Scripts/app.js"></script>
}