
@{
    ViewBag.Title = "Index";
}

<div id="blog-page" class="blog-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">@DefaultResource.Newsh1 <span>@DefaultResource.Newsh2</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news.jpg" class="img-responive" alt="blog1">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="#"><h6 class="post-heading">@DefaultResource.News1h</h6></a>
                       
                        <p>@DefaultResource.News1p</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news-1.jpg" class="img-responive" alt="blog2">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="#"><h6 class="post-heading">@DefaultResource.News2h</h6></a>                        
                        <p>@DefaultResource.News2p</p>
                    </div>
               
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news.jpg" class="img-responive" alt="blog3">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="#"><h6 class="post-heading">@DefaultResource.News3h</h6></a>
                        <div class="post-date">
                            <ul>
                                <li>May 1, 2018</li>
                        
                            </ul>
                        </div>
                        <p>@DefaultResource.News3p</p>
                    </div>
           
                </div>
            </div>
            
        </div>
        
    </div>
</div>
